@import '../../../sass/abstracts/variables.scss';

.NavigationItems {
    perspective: 150rem;
    -moz-perspective: 150rem;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

@media (min-width: $min-width-small-res) {
    .NavigationItems {
        display: grid;
        gap: 1rem;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
        // flex-direction: row;
        // justify-content: space-around;
    }
    .col1of3 {
        width: calc((100% - (#{$menu-gutter}*2))/3);
    }
}