@import '../../../../sass/abstracts/variables.scss';

@keyframes animateFront {
    0% {
        background-color: $color-secondary-light;
    }
    15% {
        background-color: $color-animation;
    }
    30% {
        background-color: $color-secondary-light;
    }
    45% {
        background-color: $color-animation;
    }
    60% {
        background-color: $color-secondary-light;
    }
    75% {
        background-color: $color-animation;
    }
    100% {
        background-color: $color-secondary-light;
    }
}

.NavigationItem {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: relative;

    &A {
        transform-origin: center center 0;
        backface-visibility: hidden;
        width: 100%;
        height: auto;
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;

        &Enter {
            transform: rotateY(0deg);
        }
    
        &EnterActive {
            transform: rotateY(180deg);
            transition: transform 500ms ease-in;
        }
    
        &EnterDone {
            transform: rotateY(180deg);
        }
    
        &Exit {
            transform: rotateY(180deg);
        }
    
        &ExitActive {
            transform: rotateY(0deg);
            transition: transform 500ms ease-in;
        }
    
        &ExitDone {
            transform: rotateY(0deg);
        }
    }

    &P {
        transform-origin: center center 0;
        position: absolute;
        backface-visibility: hidden;
        width: 100%;
        height: auto;
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;

        &Appear {
            transform: rotateY(-180deg);
        };
    
        &AppearActive {
            transform: rotateY(-180deg);
        }
    
        &AppearDone {
            transform: rotateY(-180deg);
        }
    
        &Enter {
            transform: rotateY(-180deg);
        }
    
        &EnterActive {
            transform: rotateY(0deg);
            transition: transform 500ms ease-in;
        }
    
        &EnterDone {
            transform: rotateY(0deg);
        }
    
        &Exit {
            transform: rotateY(0deg);
        }
    
        &ExitActive {
            transform: rotateY(-180deg);
            transition: transform 500ms ease-in;
        }
    
        &ExitDone {
            transform: rotateY(-180deg);
        }
    }

    &A a {
        text-decoration: none;
        border-radius: 15%;
        padding: 10px;
        margin-left: 7px;
        margin-right: 7px;
        background-color: $color-secondary-light;
        color: $color-primary;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -webkit-touch-callout : none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;   
    }


    &P p {
        text-decoration: none;
        border-radius: 15%;
        padding: 10px;
        margin-left: 7px;
        margin-right: 7px;
        background-color:  $color-secondary-dark;
        color: $color-quaduprary;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -webkit-touch-callout : none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    &A a:hover {
        color: $color-alert;
    }

    &A a:active {
        color: $color-quaduprary;
        background-color: $color-secondary-dark;
    }

    &A a.active {
        animation-duration: 500ms;
        animation-name: animateFront;
    }
}

@media (min-width: $min-width-small-res) {
    .NavigationItem {
        margin: 0;
        left: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;

        &A a {
            color: $color-tertiary;
            height: 100%;
            padding: 10px 10px;
        }

        &A a:active,
        &A a.active {
            background-color: $color-secondary-dark;
            color: $color-quaduprary;
            border-color: $color-alert;
        }
    }
}