@import '../../../../sass/abstracts/variables.scss';

.NavigationItem {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    //backface-visibility: hidden;
    transform-origin: center center 0;

    &Enter {
        transform: rotateY(0deg);
    }

    &EnterActive {
        transform: rotateY(180deg);
        transition: transform 500ms linear
    }

    &EnterDone {
        transform: rotateY(180deg);
    }

    &Exit {
        transform: rotateY(180deg);
    }

    &ExitActive {
        transform: rotateY(0deg);
        transition: transform 500ms linear;
    }

    &ExitDone {
        transform: rotateY(0deg);
    }

    & a {
        margin-left: 7px;
        margin-right: 7px;
        border-radius: 15%;
        background-color: $color-secondary-light;
        color: $color-primary;
        text-decoration: none;
        width: 100%;
        //box-sizing: border-box;
        display: block;
    }

    & a:hover {
        color: $color-alert;
    }

    & a:active,
    & a.active {
        color: $color-quaduprary;
        background-color: $color-secondary-dark;
    }
}

@media (min-width: $min-width-small-res) {
    .NavigationItem {
        margin: 0;
        left: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;

        & a {
            color: $color-tertiary;
            height: 100%;
            padding: 10px 10px;
        }

        & a:active,
        & a.active {
            background-color: $color-secondary-dark;
            color: $color-quaduprary;
            border-color: $color-alert;
        }
    }
}